In [159]:
import numpy as np
import pandas as pd
import os
os.getcwd()
os.chdir('C:\\Users\\kyle0\\Downloads')
os.getcwd()

'C:\\Users\\kyle0\\Downloads'

In [160]:
ticker = ['TAN','IBUY','2801','INDA','ARKW','SPY','102110','UCO','TAN','AIA','VGK']
etfs={}
for etf in ticker:
    etf_chg_rate = pd.read_csv(f'{etf} Historical Data.csv').loc[:,'Change %']
    etfs[etf]=etf_chg_rate

In [161]:
df = pd.DataFrame(etfs).dropna()

In [162]:
for column in df.columns:
    for i in df.index:
        df[column][i] = float(df[column][i][:-1])

In [163]:
df['UCO'] = df['UCO']*(-1)
df['AIA'] = df['AIA']*(-1)

In [175]:
df.describe()
df.cov()

Empty DataFrame
Columns: []
Index: []

In [167]:
port_oct30 = df.loc[:,['IBUY','2801','INDA','ARKW','SPY','102110','UCO']]

Empty DataFrame
Columns: []
Index: []